<turbo-frame id="filters">
    {% if activeFilters %}
    <input type="hidden" value='{{ activeFilters | tojson}}' name="activeFilters"></input>
    <ul>
    {% for f in activeFilters %}
        <li>{{ f }}</li>
    {% endfor %}
    </ul>
    {% else %}
    <input type="hidden" value='[]' name="activeFilters"></input>
    {% endif %}

</turbo-frame>
