<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
        <script src="/static/search.js" type="module"></script>
    </head>
    <body>
    <h1>Hotwire Falcon search demo</h1>

        <turbo-frame id="random">
        </turbo-frame>

        <form method="POST" data-controller="finch" action="/">
        <input type="hidden" class="finch" name="finch.action"></input>
            {% include "filters.jinja2" %}
            <div>
                <input class="search-text" name="prefix" type="text"></input>
            </div>
            {% include "results.jinja2" %}
        </form>
    </body>
</html>
