

<turbo-stream action="replace" target="later">
    <template>
    <i>This snipped was loaded asynchronously, just to show that it is possible. Does not make any sense yet.</i>
    </template>
</turbo_stream>
