<turbo-frame id="results">
    {% for i in items %}
        <div>{{i.name}} ({{i.land}})</div>
    {% endfor %}
    {% if groups %}
    <h3>Länder</h3>
    <ul>
    {% for land, count in groups.items() %}
        <li><a href="#" data-action="finch#add_filter" data-filter="{{land}}">{{land}} ({{count}})</a></li>
    {% endfor %}
    </ul>
{% endif %}
</turbo-frame>
